@import "bootstrap/css/bootstrap.min.css";
@import "../lib/font-awesome/css/font-awesome.min.css";

$dark-grey: #363636;
$dark-grey2: #cccccc;
$light-grey: #f2f2f2;
$white: #ffffff;
$black: #000000;
$red: #228f98;
$text-color: #6B6B6B;
$nav-link-color: #F5F7FA;
$blue: #0a8ccc;


// Row with equal height columns
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}


// Mixin itself
.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

body {
  background: $light-grey;
  padding-bottom: 30px;
  /*
  background-image: url('../images/dust.jpg');
  background-size: 400px 300px;
  background-repeat: repeat;
  */

  background-image: url('../images/wiki_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  a {
    &:hover {
      text-decoration: none;
    }
  }

  .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none !important;
  }
}

header {
  nav.navbar {
    background: rgba(255,255,255,0.5);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0;
    border-bottom: 2px solid $dark-grey2;
    position: relative;

    background-image: url('../images/wiki_bg-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    &:after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(255,255,255,0.5);
      z-index: 0;
      display: block;
    }

    .container {
      position: relative;
      z-index: 1;
    }
  }

  img.site_logo {
    width: auto;
    height: 100%;
    max-height: 60px;
    margin-top: 13px;

    &:hover {
      filter: brightness(150%);
      -webkit-filter: brightness(150%);
      -moz-filter: brightness(150%);
      -o-filter: brightness(150%);
      -ms-filter: brightness(150%);
    }
  }

  .search_field {
    input.search_inp {
      width: 100%;
      margin-top: 15px;
      color: $white;
      padding: 25px 10px;
      border: none;
      border-bottom: 1px solid rgba(255,255,255,0.5) !important;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      background: none;
      -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0);
      box-shadow: 0 0 0 0 rgba(0,0,0,0);
      font-weight: 300;
      font-size: 21px;

      &::-webkit-input-placeholder{color:#fff;}
      &:-moz-placeholder{color:#fff;}
      &::-moz-placeholder{color:#fff;}
      &:-ms-input-placeholder{color:#fff;}

      &:focus {
        -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0);
        box-shadow: 0 0 0 0 rgba(0,0,0,0);
        border-bottom: 1px solid $nav-link-color;
      }
    }
    button {
      position: absolute;
      bottom: 10px;
      right: 15px;
      background: none;
      border-color: $white;
      background-image: url('../images/wiki_bg-2.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;

      &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(255, 255, 255, 0.2);
        z-index: 0;
        display: block;
      }

      &:hover {
        border-color: $white;

        &::after {
          background: rgba(255, 255, 255, 0.4);
        }
      }

      span {
        color: $white;
      }
    }
  }

  .search_parameters {
    padding-top: 10px;
    margin-bottom: 0 !important;
    /*
    background-image: url('../images/dust.jpg');
    background-size: 400px 300px;
    background-repeat: repeat;
    background-attachment: fixed;
    */
    position: relative;

    background-image: url('../images/wiki_bg-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    &:after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.1);
    }

    .col {
      padding: 0 !important;
      position: relative;
      z-index: 1;
    }

    ul {
      padding: 0;
      margin-bottom: 0;
      list-style-type: none;

      li {
        font-size: 11px;
        color: $white;
        margin-bottom: 5px;

        &:last-of-type {
          margin-bottom: 0;
        }

        label {
          color: $white;
          font-weight: 300;
          display: inline;
          margin-left: 3px;
          cursor: pointer;
          vertical-align: middle;
        }
      }
    }
  }

}


#content_wrapper {
  padding-top: 60px;

  #page_content {

    #all_category_list {

      .panel {

        .panel-heading {
          background: $red;

          h3 {
            margin: 0;
            padding: 0 20px;
            position: relative;

            &::before {
              font-family: FontAwesome;
              content: "\f07b";
              color: $white;
              position: absolute;
              font-size: 16px;
              left: 0;
              top: 50%;
              -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
              transform: translateY(-50%);
            }

            a {
              color: $white;
              text-align: center;
              display: block;
              font-size: 16px;
              text-decoration: none;
            }
          }
        }

        .terms_list {
          ul {
            padding: 0;
            font-size: 11px;

            li {
              margin-bottom: 5px;
            }
          }
        }
        ul.posts {
          li {
            a {
              color: $dark-grey;
            }
          }
        }
      }

    }
  }
}


#sidebar_wrapper {
  background: $white;
  padding-top: 0;
  padding-bottom: 15px;
  min-height: 500px;

  .widget {
    margin-top: 30px;

    &:first-of-type {
      margin-top: 0;
    }

    &.search-results-widget {
      ul {
        li {
          position: relative;
          a {
            span {
              position: absolute;
              top: 2px;
              right: 0;
              background: $dark-grey;
              color: #fff;
              padding: 0px 7px;
              -webkit-border-radius: 30px;
              -moz-border-radius: 30px;
              border-radius: 30px;
              font-size: 11px;
            }
          }
        }
      }
    }

    h3 {
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: normal;
      background: rgba(152, 152, 152, 1);
      margin-left: -15px;
      width: calc(100% + 30px);
      padding: 10px 15px;
      box-sizing: border-box;
      color: #fff;
      /* text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.2); */
      border-top: 2px solid #ccc;
      font-weight: 300;

      &:first-of-type {
        margin-top: 0;
      }
    }
    ul {
      padding-left: 15px;

      &.legtobbet_nezett_postok_widget {
        li {
          position: relative;
          a {
            span {
              position: absolute;
              top: 2px;
              right: 0;
              background: $dark-grey;
              color: #fff;
              padding: 0px 7px;
              -webkit-border-radius: 30px;
              -moz-border-radius: 30px;
              border-radius: 30px;
              font-size: 11px;
            }
          }
        }
      }

      li {
        margin-top: 5px;

        &:first-of-type {
          margin-top: 0;
        }
        a {
          color: $dark-grey;
        }
      }

      ul.children {
        padding-left: 15px;
        margin-bottom: 10px;

        li {
          margin-top: 5px !important;
        }
      }
    }
  }
}


section#search_results {
  display: none;

  .panel {

    .panel-heading {
      background: $red;

      h3 {
        margin: 0;
        padding: 0 20px;
        position: relative;
        color: $white;

        &::before {
          display: none;
        }

        a {
          color: $white;
          text-align: center;
          display: block;
          font-size: 16px;
          text-decoration: none;
        }
      }
    }

    ul {
      margin-bottom: 0;

      li {
        border: none;

        &:nth-child(odd) {
          background: $light-grey;
        }

        a {
          .highlight {
            text-shadow: 1px 1px 0 #909090;
            background: #777;
            padding: 2px 5px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            border-radius: 50px;
            color: $white;
            font-weight: 400;
          }
        }
      }
    }

  }
}


body.archive.category {

  article {
    background: $white;
    display: block;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);

    &.has_thumbnail {
      border: 5px solid $white;
    }

    .header {
      &.has_thumbnail {
        width: 100%;
        height: 250px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        -webkit-box-shadow: inset 0 0 8px 0 rgba(0,0,0,0.2);
        box-shadow: inset 0 0 8px 0 rgba(0,0,0,0.2);

        .title {
          a {
            position: absolute;
            bottom: 15px;
            left: 0;
            background: $red;
            color: $white;
            font-size: 26px;
            padding: 10px 15px 10px 30px;
            -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
            box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
          }
        }
      }
      &:not(.has_thumbnail) {
        .title {
          padding: 10px 30px !important;
          border-bottom: 1px solid $light-grey;
          background: $red;
          a {
            color: $white;
            font-size: 26px;
          }
        }
      }
    }

    .title {
      margin: 0 !important;
      padding: 0 !important;
    }

    .desc {
      padding: 15px 30px;
      display: block;
      width: 100%;

      br {
        display: none;
      }
    }
  }
}

body.page:not(.home),
body.single,
body.page.page-template {
  article {
    background: $white;
    padding: 15px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);

   .header {
      display: block;
      background: #f5f5f5;
      margin: -15px -15px 30px -15px;
      padding: 15px;
      border-bottom: 2px solid #ccc;
      border-top: 1px solid rgba(255, 255, 255, 0.5);
      border-left: 1px solid rgba(255, 255, 255, 0.5);
      border-right: 1px solid rgba(255, 255, 255, 0.5);

    .title {
        margin-top: 0 !important;
        text-shadow: 2px 2px 1px $white;
    }

    .post_info {
       span {
        margin-left: 15px;
        display: inline-block;

        &:first-of-type {
          margin-left: 0;
        }
       }
       .post-date {

       }
       .views {

       }
    }
   }
   .desc{
      img {
        width: 100%;
        height: auto;
      }
   }
  }
}

#heti_wp_mentesek_admin_oldalak_gomb {
  margin: 10px 0;
  button {
    background: grey;
    border: grey;
    color: #fff;
    padding: 10px 20px;
  }
  ul {}
}

div#slug_generator_sc textarea {
  width: 49%;
  min-height: 750px;
  &.feltetel {
    float: left;
  }
  &.eredmeny {
    float: right;
  }
}

.syntaxhighlighter.nogutter td.code .container textarea, .syntaxhighlighter.nogutter td.code .line {
  background: #f5f5f5 !important;
}



/* spinner */

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

#search_results_spinner {
  margin: 60px auto;
  display: block;
  width: 80px;

  div {
    background: $white;
    width: 25px;
    height: 25px;
  }
}

/* /spinner */


body.home {
  #page_content {
    .page-content-section {

      .panel {
        border: none;
        position: relative;

        .panel-heading {
          background-image: url('../images/wiki_bg-2.jpg') !important;
          background-size: cover !important;
          background-repeat: no-repeat !important;
          background-attachment: fixed !important;
          position: relative;
          overflow: hidden;

          &:before {
            content: "";
            width: 100%;
            height: 40px;
            background: #fff;
            position: absolute;
            top: -5px;
            left: 0;
            -moz-transform: rotate(-2deg);
            -webkit-transform: rotate(-2deg);
            -o-transform: rotate(-2deg);
            -ms-transform: rotate(-2deg);
            transform: rotate(-2deg);
            background: -moz-linear-gradient(top, rgba(56,176,167,1) 0%, rgba(56,176,167,0.74) 26%, rgba(56,176,167,0) 99%);
            background: -webkit-linear-gradient(top, rgba(56,176,167,1) 0%,rgba(56,176,167,0.74) 26%,rgba(56,176,167,0) 99%);
            background: linear-gradient(to bottom, rgba(56,176,167,1) 0%,rgba(56,176,167,0.74) 26%,rgba(56,176,167,0) 99%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38b0a7', endColorstr='#0038b0a7',GradientType=0 );
            opacity: 0.7;
          }
        }

        span {
          position: absolute;
          -webkit-box-shadow: 0 0 25px 0 rgba(0,0,0,1);
          box-shadow: 0 0 25px 0 rgba(0,0,0,1);

          &:nth-child(1) {
            top: 0;
            left: 0;
            width: 1px;
            height: 80px;

            -moz-transform: rotate(-2deg);
            -webkit-transform: rotate(-2deg);
            -o-transform: rotate(-2deg);
            -ms-transform: rotate(-2deg);
            transform: rotate(-2deg);
          }
          &:nth-child(2) {
            top: 0;
            left: 0;
            width: 100%;
            height: 1px;
          }
          &:nth-child(3) {
            top: 0;
            right: 0;
            width: 1px;
            height: 80px;

            -moz-transform: rotate(2deg);
            -webkit-transform: rotate(2deg);
            -o-transform: rotate(2deg);
            -ms-transform: rotate(2deg);
            transform: rotate(2deg);
          }
        }
      }

    }
  }
}



#btc_arfolyamfigyelo_sc {
  background: $white;
  width: 100%;

  section {
    border-bottom: 1px solid grey;
    display: block;
    width: 100%;
    float: left;
    padding: 20px 0;
    .chart {
      height: 160px;
      width: 50px;
      background: $light-grey;
      border: 2px solid $blue;
      display: block;
      margin: 0 auto;
      position: relative;

      .buy_price {
        width: 20px;
        background: green;
        position: absolute;
        bottom: 0;
        left: calc( 50% - 10px );
        z-index: 1;
      }
      .actual_price {
        position: absolute;
        z-index: 0;
        width: 100%;
        background: $blue;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }

    table.info {
      margin-bottom: 30px;
      tr td {
        padding: 2px 10px;
      }
    }

    ul.percents {
      margin-top: 15px;
      display: block;
      li {
        list-style-type: none;
        line-height: 24px;
        border-bottom: 1px solid $light-grey;
        span {

        }
      }
    }

  }
}


ul.useful_plugins_list_sc {
	padding: 0;
	margin: 0;
	display: flex;
  flex-wrap: wrap;
	li {
		position: relative;
		width: calc(50% - 20px);
    height: auto;
		min-height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    background-color: $light-grey !important;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 10px;
		border: 2px solid rgba($dark-grey2, 0.3);

		a.post-title {
			margin: 100px 0 0 0;
			display: block;
			width: 100%;
			background: rgba($white, 0.8);
			border-top: 2px solid rgba($dark-grey2, 0.3);
			border-bottom: 2px solid rgba($dark-grey2, 0.3);
			h3 {
				line-height: 1.3;
				color: $black;
				display: block;
				margin: 0;
		    padding: 10px 15px;
			}

			&:hover {
				background: $white;
			}
		}
		.excerpt {
			margin: 0 0 0 0;
			display: block;
			width: 100%;
			background: rgba($white, 0.8);
	    height: 100%;
	    padding: 15px;
			word-wrap: break-word;
	    white-space: pre-line;

			&:empty {

			}
		}

		a.read_more {
			background: rgba($blue, 0.8);
			color: $white;
			display: block;
			width: 100%;
			padding: 10px 10px;
			text-transform: uppercase;
			text-align: center;

			&:hover {
				background: $blue;
			}
		}


		&:not(.has_bg_image) {
			a.post-title {
				margin-top: 0;
			}
		}

	}
}
