@import "bootstrap/css/bootstrap.min.css";
@import "../lib/font-awesome/css/font-awesome.min.css";
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
body {
  background: #f2f2f2;
  padding-bottom: 30px;
  /*
   background-image: url('../images/dust.jpg');
   background-size: 400px 300px;
   background-repeat: repeat;
   */
  background-image: url('../images/wiki_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body a:hover {
  text-decoration: none;
}
body .btn.active.focus, body .btn.active:focus, body .btn.focus, body .btn:active.focus, body .btn:active:focus, body .btn:focus {
  outline: none !important;
}
header nav.navbar {
  background: rgba(255, 255, 255, 0.5);
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0;
  border-bottom: 2px solid #ccc;
  position: relative;
  background-image: url('../images/wiki_bg-2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
header nav.navbar:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  z-index: 0;
  display: block;
}
header nav.navbar .container {
  position: relative;
  z-index: 1;
}
header img.site_logo {
  width: auto;
  height: 100%;
  max-height: 60px;
  margin-top: 13px;
}
header img.site_logo:hover {
  filter: brightness(150%);
  -webkit-filter: brightness(150%);
  -moz-filter: brightness(150%);
  -o-filter: brightness(150%);
  -ms-filter: brightness(150%);
}
header .search_field input.search_inp {
  width: 100%;
  margin-top: 15px;
  color: #fff;
  padding: 25px 10px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5) !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: none;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  font-weight: 300;
  font-size: 21px;
}
header .search_field input.search_inp::-webkit-input-placeholder {
  color: #fff;
}
header .search_field input.search_inp:-moz-placeholder {
  color: #fff;
}
header .search_field input.search_inp::-moz-placeholder {
  color: #fff;
}
header .search_field input.search_inp:-ms-input-placeholder {
  color: #fff;
}
header .search_field input.search_inp:focus {
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  border-bottom: 1px solid #f5f7fa;
}
header .search_field button {
  position: absolute;
  bottom: 10px;
  right: 15px;
  background: none;
  border-color: #fff;
  background-image: url('../images/wiki_bg-2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
header .search_field button::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.2);
  z-index: 0;
  display: block;
}
header .search_field button:hover {
  border-color: #fff;
}
header .search_field button:hover::after {
  background: rgba(255, 255, 255, 0.4);
}
header .search_field button span {
  color: #fff;
}
header .search_parameters {
  padding-top: 10px;
  margin-bottom: 0 !important;
  /*
   background-image: url('../images/dust.jpg');
   background-size: 400px 300px;
   background-repeat: repeat;
   background-attachment: fixed;
   */
  position: relative;
  background-image: url('../images/wiki_bg-2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
header .search_parameters:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
}
header .search_parameters .col {
  padding: 0 !important;
  position: relative;
  z-index: 1;
}
header .search_parameters ul {
  padding: 0;
  margin-bottom: 0;
  list-style-type: none;
}
header .search_parameters ul li {
  font-size: 11px;
  color: #fff;
  margin-bottom: 5px;
}
header .search_parameters ul li:last-of-type {
  margin-bottom: 0;
}
header .search_parameters ul li label {
  color: #fff;
  font-weight: 300;
  display: inline;
  margin-left: 3px;
  cursor: pointer;
  vertical-align: middle;
}
#content_wrapper {
  padding-top: 60px;
}
#content_wrapper #page_content #all_category_list .panel .panel-heading {
  background: #228f98;
}
#content_wrapper #page_content #all_category_list .panel .panel-heading h3 {
  margin: 0;
  padding: 0 20px;
  position: relative;
}
#content_wrapper #page_content #all_category_list .panel .panel-heading h3::before {
  font-family: FontAwesome;
  content: "\f07b";
  color: #fff;
  position: absolute;
  font-size: 16px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#content_wrapper #page_content #all_category_list .panel .panel-heading h3 a {
  color: #fff;
  text-align: center;
  display: block;
  font-size: 16px;
  text-decoration: none;
}
#content_wrapper #page_content #all_category_list .panel .terms_list ul {
  padding: 0;
  font-size: 11px;
}
#content_wrapper #page_content #all_category_list .panel .terms_list ul li {
  margin-bottom: 5px;
}
#content_wrapper #page_content #all_category_list .panel ul.posts li a {
  color: #363636;
}
#sidebar_wrapper {
  background: #fff;
  padding-top: 0;
  padding-bottom: 15px;
  min-height: 500px;
}
#sidebar_wrapper .widget {
  margin-top: 30px;
}
#sidebar_wrapper .widget:first-of-type {
  margin-top: 0;
}
#sidebar_wrapper .widget.search-results-widget ul li {
  position: relative;
}
#sidebar_wrapper .widget.search-results-widget ul li a span {
  position: absolute;
  top: 2px;
  right: 0;
  background: #363636;
  color: #fff;
  padding: 0px 7px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  font-size: 11px;
}
#sidebar_wrapper .widget h3 {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: normal;
  background: rgba(152, 152, 152, 1);
  margin-left: -15px;
  width: calc(100% + 30px);
  padding: 10px 15px;
  box-sizing: border-box;
  color: #fff;
  /* text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.2); */
  border-top: 2px solid #ccc;
  font-weight: 300;
}
#sidebar_wrapper .widget h3:first-of-type {
  margin-top: 0;
}
#sidebar_wrapper .widget ul {
  padding-left: 15px;
}
#sidebar_wrapper .widget ul.legtobbet_nezett_postok_widget li {
  position: relative;
}
#sidebar_wrapper .widget ul.legtobbet_nezett_postok_widget li a span {
  position: absolute;
  top: 2px;
  right: 0;
  background: #363636;
  color: #fff;
  padding: 0px 7px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  font-size: 11px;
}
#sidebar_wrapper .widget ul li {
  margin-top: 5px;
}
#sidebar_wrapper .widget ul li:first-of-type {
  margin-top: 0;
}
#sidebar_wrapper .widget ul li a {
  color: #363636;
}
#sidebar_wrapper .widget ul ul.children {
  padding-left: 15px;
  margin-bottom: 10px;
}
#sidebar_wrapper .widget ul ul.children li {
  margin-top: 5px !important;
}
section#search_results {
  display: none;
}
section#search_results .panel .panel-heading {
  background: #228f98;
}
section#search_results .panel .panel-heading h3 {
  margin: 0;
  padding: 0 20px;
  position: relative;
  color: #fff;
}
section#search_results .panel .panel-heading h3::before {
  display: none;
}
section#search_results .panel .panel-heading h3 a {
  color: #fff;
  text-align: center;
  display: block;
  font-size: 16px;
  text-decoration: none;
}
section#search_results .panel ul {
  margin-bottom: 0;
}
section#search_results .panel ul li {
  border: none;
}
section#search_results .panel ul li:nth-child(odd) {
  background: #f2f2f2;
}
section#search_results .panel ul li a .highlight {
  text-shadow: 1px 1px 0 #909090;
  background: #777;
  padding: 2px 5px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  color: #fff;
  font-weight: 400;
}
body.archive.category article {
  background: #fff;
  display: block;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
body.archive.category article.has_thumbnail {
  border: 5px solid #fff;
}
body.archive.category article .header.has_thumbnail {
  width: 100%;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  -webkit-box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.2);
}
body.archive.category article .header.has_thumbnail .title a {
  position: absolute;
  bottom: 15px;
  left: 0;
  background: #228f98;
  color: #fff;
  font-size: 26px;
  padding: 10px 15px 10px 30px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
body.archive.category article .header:not(.has_thumbnail) .title {
  padding: 10px 30px !important;
  border-bottom: 1px solid #f2f2f2;
  background: #228f98;
}
body.archive.category article .header:not(.has_thumbnail) .title a {
  color: #fff;
  font-size: 26px;
}
body.archive.category article .title {
  margin: 0 !important;
  padding: 0 !important;
}
body.archive.category article .desc {
  padding: 15px 30px;
  display: block;
  width: 100%;
}
body.archive.category article .desc br {
  display: none;
}
body.page:not(.home) article, body.single article, body.page.page-template article {
  background: #fff;
  padding: 15px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
body.page:not(.home) article .header, body.single article .header, body.page.page-template article .header {
  display: block;
  background: #f5f5f5;
  margin: -15px -15px 30px -15px;
  padding: 15px;
  border-bottom: 2px solid #ccc;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
body.page:not(.home) article .header .title, body.single article .header .title, body.page.page-template article .header .title {
  margin-top: 0 !important;
  text-shadow: 2px 2px 1px #fff;
}
body.page:not(.home) article .header .post_info span, body.single article .header .post_info span, body.page.page-template article .header .post_info span {
  margin-left: 15px;
  display: inline-block;
}
body.page:not(.home) article .header .post_info span:first-of-type, body.single article .header .post_info span:first-of-type, body.page.page-template article .header .post_info span:first-of-type {
  margin-left: 0;
}
body.page:not(.home) article .desc img, body.single article .desc img, body.page.page-template article .desc img {
  width: 100%;
  height: auto;
}
#heti_wp_mentesek_admin_oldalak_gomb {
  margin: 10px 0;
}
#heti_wp_mentesek_admin_oldalak_gomb button {
  background: grey;
  border: grey;
  color: #fff;
  padding: 10px 20px;
}
div#slug_generator_sc textarea {
  width: 49%;
  min-height: 750px;
}
div#slug_generator_sc textarea.feltetel {
  float: left;
}
div#slug_generator_sc textarea.eredmeny {
  float: right;
}
.syntaxhighlighter.nogutter td.code .container textarea, .syntaxhighlighter.nogutter td.code .line {
  background: #f5f5f5 !important;
}
/* spinner */
.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}
.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
#search_results_spinner {
  margin: 60px auto;
  display: block;
  width: 80px;
}
#search_results_spinner div {
  background: #fff;
  width: 25px;
  height: 25px;
}
/* /spinner */
body.home #page_content .page-content-section .panel {
  border: none;
  position: relative;
}
body.home #page_content .page-content-section .panel .panel-heading {
  background-image: url('../images/wiki_bg-2.jpg') !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  position: relative;
  overflow: hidden;
}
body.home #page_content .page-content-section .panel .panel-heading:before {
  content: "";
  width: 100%;
  height: 40px;
  background: #fff;
  position: absolute;
  top: -5px;
  left: 0;
  -moz-transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  transform: rotate(-2deg);
  background: -moz-linear-gradient(top, rgba(56, 176, 167, 1) 0%, rgba(56, 176, 167, 0.74) 26%, rgba(56, 176, 167, 0) 99%);
  background: -webkit-linear-gradient(top, rgba(56, 176, 167, 1) 0%, rgba(56, 176, 167, 0.74) 26%, rgba(56, 176, 167, 0) 99%);
  background: linear-gradient(to bottom, rgba(56, 176, 167, 1) 0%, rgba(56, 176, 167, 0.74) 26%, rgba(56, 176, 167, 0) 99%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#38b0a7', endColorstr='#0038b0a7',GradientType=0);
  opacity: 0.7;
}
body.home #page_content .page-content-section .panel span {
  position: absolute;
  -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 1);
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 1);
}
body.home #page_content .page-content-section .panel span:nth-child(1) {
  top: 0;
  left: 0;
  width: 1px;
  height: 80px;
  -moz-transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  transform: rotate(-2deg);
}
body.home #page_content .page-content-section .panel span:nth-child(2) {
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
}
body.home #page_content .page-content-section .panel span:nth-child(3) {
  top: 0;
  right: 0;
  width: 1px;
  height: 80px;
  -moz-transform: rotate(2deg);
  -webkit-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
}
#btc_arfolyamfigyelo_sc {
  background: #fff;
  width: 100%;
}
#btc_arfolyamfigyelo_sc section {
  border-bottom: 1px solid grey;
  display: block;
  width: 100%;
  float: left;
  padding: 20px 0;
}
#btc_arfolyamfigyelo_sc section .chart {
  height: 160px;
  width: 50px;
  background: #f2f2f2;
  border: 2px solid #0a8ccc;
  display: block;
  margin: 0 auto;
  position: relative;
}
#btc_arfolyamfigyelo_sc section .chart .buy_price {
  width: 20px;
  background: green;
  position: absolute;
  bottom: 0;
  left: calc(50% - 10px);
  z-index: 1;
}
#btc_arfolyamfigyelo_sc section .chart .actual_price {
  position: absolute;
  z-index: 0;
  width: 100%;
  background: #0a8ccc;
  position: absolute;
  bottom: 0;
  left: 0;
}
#btc_arfolyamfigyelo_sc section table.info {
  margin-bottom: 30px;
}
#btc_arfolyamfigyelo_sc section table.info tr td {
  padding: 2px 10px;
}
#btc_arfolyamfigyelo_sc section ul.percents {
  margin-top: 15px;
  display: block;
}
#btc_arfolyamfigyelo_sc section ul.percents li {
  list-style-type: none;
  line-height: 24px;
  border-bottom: 1px solid #f2f2f2;
}
ul.useful_plugins_list_sc {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
ul.useful_plugins_list_sc li {
  position: relative;
  width: calc(50% - 20px);
  height: auto;
  min-height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  background-color: #f2f2f2 !important;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 10px;
  border: 2px solid rgba(204, 204, 204, 0.3);
}
ul.useful_plugins_list_sc li a.post-title {
  margin: 100px 0 0 0;
  display: block;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  border-top: 2px solid rgba(204, 204, 204, 0.3);
  border-bottom: 2px solid rgba(204, 204, 204, 0.3);
}
ul.useful_plugins_list_sc li a.post-title h3 {
  line-height: 1.3;
  color: #000;
  display: block;
  margin: 0;
  padding: 10px 15px;
}
ul.useful_plugins_list_sc li a.post-title:hover {
  background: #fff;
}
ul.useful_plugins_list_sc li .excerpt {
  margin: 0 0 0 0;
  display: block;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  height: 100%;
  padding: 15px;
  word-wrap: break-word;
  white-space: pre-line;
}
ul.useful_plugins_list_sc li a.read_more {
  background: rgba(10, 140, 204, 0.8);
  color: #fff;
  display: block;
  width: 100%;
  padding: 10px 10px;
  text-transform: uppercase;
  text-align: center;
}
ul.useful_plugins_list_sc li a.read_more:hover {
  background: #0a8ccc;
}
ul.useful_plugins_list_sc li:not(.has_bg_image) a.post-title {
  margin-top: 0;
}
